<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://quinncoyle.com/default-styles.css" rel="stylesheet">
    <link href="https://quinncoyle.com/static/default-writing-styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="./app.js" defer></script>
    <script type="module" src="./add-book.js" defer></script>
    <script type="module" src="./remove-book.js" defer></script>
    <link href="./style.css" rel="stylesheet">
    <script src="https://unpkg.com/vue-ui-preloader"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/vue-ui-preloader/dist/loader.css">
</head>

<body>
    <div id="app">
        <div v-if="loading">
            <loader object="lightblue" color1="purple" color2="grey" size="5" speed="1.5" bg="#343a40" objectbg="#999793" opacity="100" name="circular">Loading...</loader>
        </div>
        <table style="width:100%">
            <thead>
                <tr>
                    <th v-for="col in columns" v-on:click="sortTable(col)">{{col}}
                        <div class="arrow" v-if="col == sortColumn" v-bind:class="[ascending ? 'arrow_up' : 'arrow_down']"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in get_rows()">
                    <td v-for="col in columns">{{row[col]}}</td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <div class="number" v-for="i in num_pages()" v-bind:class="[i == currentPage ? 'active' : '']" v-on:click="change_page(i)">{{i}}</div>
        </div>
    </div>
    <div id="add-book" style="margin-top: 20px;">
        <form class="inputs">
            <h5>Add a book</h5>
            <div class="inputs">
                <label for="title">Title:</label>
                <input type="text" id="title" v-model.trim="title">
            </div>

            <div class="inputs" id="authors">
                <label for="author">Author:</label>
                <input type="text" id="author" v-model.trim="author">
            </div>

            <div class="inputs">
                <button type="button" class="btn btn-light" style="margin-top:25px" v-on:click="addAuthor($event)">Add Author</button>
            </div>

            <div class="inputs">
                <label for="readDate">Read Date:</label>
                <input type="text" id="readDate" v-model.trim="readDate" placeholder="YYYY-MM-DD">
            </div>

            <div class="inputs">
                <label for="audiobook">Audiobook?</label>
                <input type="checkbox" v-model="audiobook">
            </div>

            <div class="inputs">
                <label for="password">Password:</label>
                <input type="password" id="password" v-model.trim="password">
            </div>

            <div style="float:left; margin-top:25px">
                <button class="btn btn-success" type="submit" v-on:click="submitForm($event)">Submit</button>
            </div>
        </form>
    </div>
    <div id="remove-book" style="margin-top: 20px;">
        <form class="inputs">
            <h5>Remove a book</h5>
            <div class="inputs">
                <label for="_id">_id:</label>
                <input type="text" id="_id" v-model.trim="id">
            </div>

            <div class="inputs">
                <label for="deletePassword ">Password:</label>
                <input type="password" id="deletePassword" v-model.trim="deletePassword">
            </div>

            <div style="float:left; margin-top:25px">
                <button class="btn btn-success" type="submit" v-on:click="submitForm($event)">Submit</button>
            </div>
        </form>
    </div>
    <br>
    <br>
    <div class="fixed-bottom ">
        <hr>
        <footer class="bg-dark ">
            <a href="https://github.com/qcoyle/reading-list" target=”_blank”>Site Code</a>
        </footer>
    </div>
</body>